/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
#portfolio {
  padding-top: 135px;
  padding-bottom: 100px;
  background-color: var(--secondary-2);
  color: var(--primary);
}

.portfolio .project {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.6) 0px 7px 15px 0px;
}

.portfolio .project::before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .project .portfolio-info {
  opacity: 0;
  position: absolute;
  background-color: var(--primary);
  color: var(--secondary);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  padding: 1.2rem;
}

@media screen and (max-width: 992px) {
  .portfolio .project .portfolio-info {
    opacity: 0.84;
  }
}

.portfolio .project .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 4px solid var(--accent);
  border-left: 4px solid var(--accent);
  transition: all 0.7s ease 0s;
  z-index: 9994;
}

.portfolio .project .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 4px solid var(--accent);
  border-right: 4px solid var(--accent);
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .project .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .project .portfolio-links a {
  color: #fff;
  margin: 0 2px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .project .portfolio-links a:hover {
  color: var(--tc-tertiary);
}

.portfolio .project:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .project:hover .portfolio-info {
  opacity: 1;
}

.portfolio .project:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}

.portfolio .project:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}
