#about {
  background-color: var(--secondary);
  color: var(--primary-2);
  padding-bottom: 100px;
}

.section-title {
  margin-bottom: 30px;
}

.section-title h2 {
  text-align: center;
  font-weight: 600;
}

.introduction {
  background-color: var(--accent);
  text-align: center;
  padding-top: 135px;
  padding-bottom: 150px;
  z-index: 1;
  position: relative;
}

.introduction p {
  font-size: 1.4rem;
  line-height: 1.6;
}

#about a:hover {
  color: var(--accent-2);
}

#about a {
  color: var(--primary);
}
