.certificate-list li + li {
  margin-top: 0px;
}

.certificate {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.14);
}

.certificate img {
  width: 80px;
  height: 80px;
}

.certificate-body {
  font-size: 1.1rem;
}

.certificate-body h3 {
  font-size: 1.5rem;
}

.certificate-body p span:hover,
.certificate-body a:hover {
  color: #af44f6 !important;
  cursor: pointer;
}

.certificate-body p span,
.certificate-body a {
  color: var(--accent-2) !important;
}

.certificate-body buttons {
  display: flex;
  gap: 30px;
}
