.certificate-list li + li {
  margin-top: 0px;
}

.certificate-list {
  padding: 0;
}

.certificate {
  /* box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 50px 0px; */
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.14);
  background-color: var(--primary);
  color: var(--secondary);
  border-radius: 6px;
}

.certificate img {
  width: 80px;
  height: 80px;
}

.certificate-body {
  font-size: 1.1rem;
}

.certificate-body .company-link {
  color: var(--accent) !important;
}

.certificate-body .buttons {
  display: flex;
  gap: 0.7rem;
}

.certificate-body .buttons .what-i-learn,
.certificate-body .buttons .show-credential {
  margin: 0 !important;
}

@media screen and (max-width: 470px) {
  .certificate-body .buttons {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    width: 150px;
  }
}

#certificates-full {
  background-color: var(--secondary-2);
  color: var(--primary);
  padding-top: 30px;
  padding-bottom: 70px;
}
