@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Libre+Bodoni:wght@400;500;700&family=Poppins:wght@400;500;700&family=Raleway:wght@400;600;700&display=swap");

/*--------------------------------------------------------------
# Generals
--------------------------------------------------------------*/
:root {
  --secondary: #ffffff;
  --secondary-2: #e7efed;
  --primary: #05192d;
  --primary-2: #041425;
  --accent-2: #468c18;
  --accent-3: #9f40dd;
  --accent: #7fdd40;
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
  color: var(--secondary);
  position: relative;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

a {
  color: var(--secondary);
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

/* (GREEN WHITE) BRIGHT BUTTON */

.bright-btn-primary:hover {
  background-color: var(--accent-2) !important;
  border: 2px solid var(--accent-2) !important;
  color: var(--secondary) !important;
  transform: translateY(-3px);
}

.bright-btn-primary {
  background-color: var(--accent-2);
  color: var(--secondary) !important;
  border: 2px solid var(--accent-2);
  border-radius: 6px;
  transition: 0.3s ease;
}

.bright-btn-secondary:hover {
  background-color: var(--accent-2) !important;
  color: var(--secondary) !important;
  transform: translateY(-3px);
}

.bright-btn-secondary {
  background-color: transparent;
  color: var(--accent-2) !important;
  border: 2px solid var(--accent-2);
  border-radius: 6px;
  transition: 0.3s ease;
}

/* (BLACK-GREEN) DARK BUTTON */

.dark-btn-primary:hover {
  background-color: #132f4b !important;
  color: #a0ee6c !important;
  transform: translateY(-3px);
}

.dark-btn-primary {
  background-color: var(--primary);
  color: #a0ee6c !important;
  border: 2px solid var(--primary) !important;
  border-radius: 6px;
  transition: 0.3s ease;
}

.dark-btn-secondary:hover {
  background-color: var(--primary) !important;
  color: var(--secondary) !important;
  transform: translateY(-3px);
}

.dark-btn-secondary {
  background-color: transparent;
  color: var(--primary) !important;
  border: 2px solid var(--primary);
  border-radius: 6px;
  transition: 0.3s ease;
}

/* GREEEN-BLACK BUTTON (LIGHT)*/

.light-btn-primary:hover {
  background-color: #9ce968 !important;
  border: 2px solid #9ce968 !important;
  color: var(--primary) !important;
  transform: translateY(-3px);
}

.light-btn-primary {
  background-color: var(--accent);
  color: var(--primary) !important;
  border: 2px solid var(--accent);
  border-radius: 6px;
  transition: 0.3s ease;
}

.light-btn-secondary:hover {
  background-color: var(--accent) !important;
  color: var(--primary) !important;
  transform: translateY(-3px);
}

.light-btn-secondary {
  background-color: transparent;
  color: var(--accent) !important;
  border: 2px solid var(--accent);
  border-radius: 6px;
  transition: 0.3s ease;
}

.big-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 15px 0px;
}

.big-btn {
  font-size: 1.4rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: 2.7rem;
  padding-right: 2.7rem;
}
